/* TODO: Basic body colors & fonts */
html {
    box-sizing: border-box;
}
*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0 auto 0 auto;
    padding: 0;
    font-family: "Hanken Grotesk", sans-serif;
}

body p {
    font-size: 18px;
}

/* RESULT BOX */
.result-box {
    background-image: linear-gradient(
        to bottom,
        hsl(252, 100%, 67%),
        hsl(241, 81%, 54%)
    );
    padding: 10px;
    text-align: center;
    color: hsla(0, 0%, 100%, 1);
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
}
.result-box h1 {
    font-size: 20px;
    color: hsla(0, 0%, 100%, 0.5);
}
.result-box h2 {
    margin: 40px 0 10px 0;
}
.result-box p {
    margin-top: 0px;
    margin-left: 10px;
    margin-right: 10px;
    color: hsla(0, 0%, 100%, 0.5);
}
/* CIRCLE */
.score-circle {
    background-image: linear-gradient(
        to bottom,
        hsla(256, 72%, 46%, 1),
        hsla(241, 72%, 46%, 0)
    );
    height: 150px;
    width: 150px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 100px;
}
.score-circle h3 {
    margin: 0;
    padding-top: 25px;
    font-size: 4em;
}

.score-circle p {
    margin-top: 0px;
}

/* SUMMARY */
.summary {
    color: hsl(224, 30%, 27%);
    margin-left: 20px;
    margin-right: 20px;
}
.summary h1 {
    font-size: 20px;
    margin: 1em 0 2em 1em;
    text-align: start;
}
.summary-info {
    text-align: center;
    margin-left: 1em;
    margin-right: 1em;
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    grid-auto-rows: minmax(70px, auto);
}
.reaction {
    grid-column: 1;
    grid-row: 1;
}
.reaction-score {
    grid-column: 3;
    grid-row: 1;
}
.memory {
    grid-column: 1;
    grid-row: 2;
}
.memory-score {
    grid-column: 3;
    grid-row: 2;
}
.verbal {
    grid-column: 1;
    grid-row: 3;
}
.verbal-score {
    grid-column: 3;
    grid-row: 3;
}
.visual {
    grid-column: 1;
    grid-row: 4;
}
.visual-score {
    grid-column: 3;
    grid-row: 4;
}

/* COLORS */
.red {
    color: hsl(0, 100%, 67%);
}
.yellow {
    color: hsl(39, 100%, 56%);
}
.green {
    color: hsl(166, 100%, 37%);
}
.blue {
    color: hsl(234, 85%, 45%);
}
.lighter-text {
    color: hsla(224, 30%, 27%, 0.5);
}
/* CONTINUE BUTTON */
.big-button {
    background-color: hsl(224, 30%, 27%);
    color: hsl(0, 0%, 100%);
    justify-content: center;
    max-width: 300px;
    padding-top: 1em;
    padding-bottom: 15px;
    border-radius: 25px;
    margin-left: auto;
    margin-right: auto;
}
/* FOOTER */
.attribution {
    padding-top: 10px;
    font-size: 11px;
    text-align: center;
    color: hsl(220, 15%, 55%);
}
.attribution a {
    color: hsl(228, 45%, 44%);
}
